server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name _;

    location ~ ^/status_vhost {
        satisfy any;
        allow 10.128.0.0/16; # allow requests from prometheus
        allow 127.0.0.1;
        deny all;
        vhost_traffic_status_display;
        vhost_traffic_status_display_format prometheus;
        access_log off;
    }

    location /stub_status {
        stub_status;
        allow 10.128.0.0/16; # allow requests from prometheus
        allow 127.0.0.1;
        deny all;
        access_log off;
    }
}
